.footer{
    width: 85%;
    margin:0 auto;
    background: #e7e2ff;
    padding: 20px;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer div{
    width: 50%;
}
.footer h1{
    font-size: 1.6rem;
}